@inherits LayoutComponentBase
@using Bootstrap.Admin.Models

<div class="error-content">
    <div class="error-wrapper text-center">
        <img src="@model?.Image.ToBlazorLink()" />
        <h1>@model?.Content</h1>
        <h3>@model?.Detail</h3>
        <p><a href="/Account/Logout">登入</a> <span>或者</span> <a href="@model?.ReturnUrl.ToBlazorLink()">返回首頁</a> <span>或者</span> <a href="/healths-ui">系統自檢</a></p>
        @if (@model?.Id == 403)
        {
            <div>
                <p>也可能是以下原因導致您没有權限</p>
                <p>1. 没有登入，請登入後查看</p>
                <p>2. 當前用户未獲得此資源的相應權限，請联系管理员</p>
            </div>
        }
    </div>
    @Body
</div>

@code {
    protected ErrorModel? model;

    protected override void OnInitialized()
    {
        var id = 404;
        model = ErrorModel.CreateById(id);
    }
}
