<div data-spy="scroll" data-target=".fa-nav" class="iconview">
    @await Html.PartialAsync("AwesomeIcon")
    <div class="fa-nav">
        <h2>圖示分類</h2>
        <nav class="nav">
            <a class="nav-link" href="#fa-top">返回顶部</a>
            <a class="nav-link" href="#fa-bottom">返回底部</a>
            <a class="nav-link" href="#new">新圖示</a>
            <a class="nav-link" href="#web-application">Web 圖示</a>
            <a class="nav-link" href="#accessibility">輔助圖示</a>
            <a class="nav-link" href="#hand">手形圖示</a>
            <a class="nav-link" href="#transportation">交通运輸圖示</a>
            <a class="nav-link" href="#gender">性别圖示</a>
            <a class="nav-link" href="#file-type">文件類型圖示</a>
            <a class="nav-link" href="#spinner">微調控制項圖示</a>
            <a class="nav-link" href="#form-control">格式控制圖示</a>
            <a class="nav-link" href="#payment">支付圖示</a>
            <a class="nav-link" href="#chart">圖表圖示</a>
            <a class="nav-link" href="#currency">货币圖示</a>
            <a class="nav-link" href="#text-editor">文本編輯圖示</a>
            <a class="nav-link" href="#directional">方向圖示</a>
            <a class="nav-link" href="#video-player">影像播放器圖示</a>
            <a class="nav-link" href="#brand">品牌圖示</a>
            <a class="nav-link" href="#medical">医疗圖示</a>
            <a class="nav-link" href="#fa-top">返回顶部</a>
            <a class="nav-link" href="#fa-bottom">返回底部</a>
        </nav>
    </div>
</div>