@model LoginModel
@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}
@section css {
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    </environment>
    <link href="~/lib/captcha/slidercaptcha.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/login-footer.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/login-blue.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/login-tec.css" rel="stylesheet" asp-append-version="true" />
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/lib/validate/jquery.validate.js"></script>
        <script src="~/lib/validate/localization/messages_zh.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/validate/localization/messages_zh.min.js"></script>
    </environment>
    <script src="~/lib/captcha/longbow.slidercaptcha.js"></script>
    <script src="~/lib/longbow/longbow.common.js"></script>
    <script src="~/lib/longbow/longbow.validate.js"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
}
<input id="imgUrl" type="hidden" value="@Model.ImageLibUrl" />
<div class="container-fluid">
    <div class="login-container">
        <section class="login-form">
            <div class="login-form-header">
                <h2>登入</h2>
                <span class="flex-self-end">
                    没有帐号？
                    <a href="#">点此注册</a>
                </span>
            </div>
            <div class="login-form-body">
                <form id="login" method="post" class="form-signin">
                    <div class="login-wrap" data-toggle="LgbValidate" data-valid-button="button[type='submit']">
                        <div id="loginUser" class="form-group">
                            <input type="text" name="userName" class="form-control" data-toggle="tooltip" placeholder="用户名"
                                    maxlength="16" data-required-msg="請輸入用户名" value="" autofocus data-valid="true" />
                        </div>
                        <div id="loginPwd" class="form-group">
                            <input type="password" name="password" class="form-control" value="" data-toggle="tooltip"
                                    placeholder="密碼" maxlength="16" autocomplete="off" data-required-msg="請輸入密碼" data-valid="true" />
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="form-group rememberPwd" onselectstart="return false">
                                <i class="fa fa-square-o"></i>
                                <span>记住密碼自動登入</span>
                                <input id="remember" name="remember" type="hidden" value="false" />
                            </div>
                            <div asp-condition="@Model.AllowMobile">
                                <a id="loginType" data-value="username" href="#" class="">短信驗證登陆</a>
                            </div>
                        </div>
                        <button class="btn btn-lg btn-login btn-block" data-oauth="@Model.AllowOAuth" data-toggle="tooltip"
                            title="不填写密碼預設使用 Gitee 認證" type="submit">登 录</button>
                        <div class="d-flex justify-content-center">
                            <a class="forget-password" href="#">已有帐号，忘记密碼？</a>
                        </div>
                        <div asp-condition="@Model.AllowOAuth">
                            <div class="login-other">
                                <span class="text-white">
                                    其他方式登入
                                </span>
                            </div>
                            <div class="login-list">
                                <div class="item">
                                    <a href="#" data-toggle="tooltip" title="微信-暂未實现">
                                        <img class="item" src="~/images/weixin-2.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    @await Html.PartialAsync("LoginFooter", Model)
</div>
<div class="modal fade" id="dialogNew" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" data-toggle="LgbValidate" data-valid-button="#btnSubmit" data-valid-modal="#dialogNew">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">新用户注册</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="userName">登入名稱：</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-user-plus"></span>
                            </div>
                        </div>
                        <input type="text" id="userName" autocomplete="off" class="form-control" placeholder="登入账号不可為空" userName="true" minlength="4" maxlength="16" remote="api/Register" data-remote-msg="此用户已存在" data-valid="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="displayName">顯示名稱：</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-user-circle-o"></span>
                            </div>
                        </div>
                        <input type="text" id="displayName" class="form-control" value="" placeholder="顯示名稱不可為空" maxlength="20" data-valid="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">密碼：</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                        <input type="password" id="password" class="form-control" value="" placeholder="密碼不可為空" maxlength="16" data-valid="true" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="assurePassword">確認密碼：</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                        <input type="password" id="assurePassword" class="form-control" value="" placeholder="確認密碼" maxlength="16" equalTo="#password" data-valid="true" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">申請理由：</label>
                    <textarea id="description" class="form-control" placeholder="申請理由，500字以内" rows="3" maxlength="500" data-valid="true"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    <span>關閉</span>
                </button>
                <button type="button" class="btn btn-primary" id="btnSubmit">
                    <i class="fa fa-save"></i>
                    <span>提交</span>
                </button>
                <div class="slidercaptcha forgot reg card">
                    <div class="card-header">
                        <span>請完成安全驗證</span>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="card-body"><div id="regcap"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialogForgot" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" data-toggle="LgbValidate" data-valid-button="#btnForgot" data-valid-modal="#dialogForgot">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabelForgot">忘记密碼</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="f_userName">登入账号：</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-user-plus"></span>
                            </div>
                        </div>
                        <input type="text" id="f_userName" autocomplete="off" class="form-control" placeholder="登入账号不可為空" minlength="4" maxlength="16" data-valid="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_displayName">顯示名稱：</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-user-circle-o"></span>
                            </div>
                        </div>
                        <input type="text" id="f_displayName" class="form-control" value="" placeholder="顯示名稱不可為空" maxlength="20" data-valid="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_desc">申請理由：</label>
                    <textarea id="f_desc" class="form-control" placeholder="申請理由，500字以内" rows="3" maxlength="500" data-valid="true">我是用户XXX，我的手機号是XXXXXX，由於密碼忘记，請将密碼重置為123，登入後我自行更改，谢谢管理员</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    <span>關閉</span>
                </button>
                <button type="button" class="btn btn-danger" id="btnForgot">
                    <i class="fa fa-send-o"></i>
                    <span>提交</span>
                </button>
                <div class="slidercaptcha forgot card">
                    <div class="card-header">
                        <span>請完成安全驗證</span>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="card-body"><div id="forgotcap"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
